<!--TASK SHOW-->
<div class="row mt-4" data-turbolinks="false">
    <!--LEFT BUTTON-->
    <div class="col-md-2">
        <div class="card text-center">
            <!--BUTTON MODAL OPEN -->
            <button type="button" class="btn btn-form" data-toggle="modal" data-target="#left_modal">
                <i class="fas fa-list-alt"></i> 
            </button>
        </div>

        <!-- TASK MODAL -->
        <div class="modal left fade" id="left_modal" tabindex="-1" role="dialog" aria-labelledby="left_modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <!--MODAL BODY-->
                    <div class="modal-body">
                        <!--MODAL HEADER--->
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"><i class="fas fa-times"></i></span>
                            </button>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <% @tasks.each do |task| %>
                                
                                    <% if task.header %>
                                        <!--TASK HEADER-->
                                        <h5 class="card-title"><i class="fas fa-graduation-cap"></i> <%= task.title %></h5>
                                        <p></p>
                                        <!--/TASK HEADER-->
                                    <% else %>
                                        <!--TASK ITEMS-->
                                        <ul class="list-group list-group-flush">
                                            <%= link_to [task.project, task], class: "list-group-item task-item" do %>
                                                <%= task.title %></span>
                                            <% end %>
                                        </ul>
                                        <!--/TASK ITEMS-->
                                    <% end %>
                                
                                <% end %>
                            </div>
                        </div>
                    </div>

                    <!--MODAL FOOTER-->
                    <div class="modal-footer modal-footer-fixed">
                        <button type="button" class="btn btn-normal" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Right Card -->

    <div class="col-md-10">
        <div class="card mb-3">
            <%= content_tag :h5, @task.title, class: "card-title mt-4 text-center" %>
            <br>
            <!--Task note-->
            <div class="card-body p-4">
                <%= content_tag :p, markdown(@task.note), class: "card-text"%>
            </div>
            <div class="card-body text-center">
                <% if !@prev_task.nil? %>
                    <span>
                        <%= link_to 'Previous', [@prev_task.project, @prev_task], class: "btn btn-form mt-5" %>
                    </span>
                <% else %>
                    &nbsp;
                <% end %>
                <% if !@next_task.nil? %>
                    <span>
                        <%= link_to 'Continue', [@next_task.project, @next_task], class: "btn btn-form mt-5" %>
                    </span>
                <% end %>
            </div>

        </div>

        <div id="disqus_thread"></div>
        <script type="text/javascript">

            /**
            *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
            
            var disqus_config = function () {
                this.page.url = '<%= url_for(host: ENV['APPLICATION_HOST']) %>/<%= @task.id %>';  // Replace PAGE_URL with your page's canonical URL variable
                this.page.identifier = 'task_<%= @task.id %>'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            (function() { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = 'https://higolearn-com.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
</div>