<!-- Navbar -->
<div class="container fixed-top mt-1">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <%= link_to  image_tag('logo.png'), root_path, class: "navbar-brand", alt: "Navbar Logo" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active p-2">
                    <%= link_to 'Projects', project_index_path, class: "btn nav-link" %>
                </li>
                <% if (!user_signed_in?) %>
                    <li class="nav-item active p-2">
                        <%= link_to "Login", new_user_session_path, class: "btn btn-light nav-link" %>
                    </li>
                    <li class="nav-item active p-2">
                        <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-light nav-link" %>   
                    </li>
                <% else %>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <%= image_tag avatar_url(current_user), class: "img-circle avatar-medium", alt: "Avatar Icon" %>&nbsp;
                            <span>
                                <%= truncate(current_user.fullname, :length => 17, :separator => ' ') %>
                            </span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <%= link_to "My Profile", edit_user_registration_path, class: "dropdown-item" %>
                            <%= link_to "My Projects", myprojects_path, class: "dropdown-item" %>
                            <div class="dropdown-divider"></div>
                            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
                        </div>
                    </li>
                <% end %>
            </ul>
        </div>
    </nav>
</div>
<br>
<br>
<br>
