<!-- Jumbotron Header -->
<header class="jumbotron my-4 text-center">
    <h2 class="jumbotron-title">Bienvenido a <strong>HiGoLearn</strong></h2>
    <span>
        <p>
            Aprenda a codificar desde básico hasta crear <strong>Startups</strong><br>
            de la vida real. Con <strong>Python</strong>, <strong>Django</strong>, <strong>Ruby</strong>, <strong>Rails</strong>, <strong>JavaScript</strong> y mucho más.
        </p>
    </span>
    <%= image_tag 'monitor.svg', class: "img-responsive", alt: "Jumbotron Image" %> <br>
    <%= link_to 'Start Project', project_index_path, class: "btn btn-form" %>
</header>

<div class="row mt-4">
    <div class="col text-center">
        <h2 class="text-tile">Características Asombrosas</h2>
    </div>
</div>
<br/>

<div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-4">
        <div class="card text-center">
            <%= image_tag 'question.svg', class: "img-circle feature-img-responsive mt-2", alt: "Feature Image 1" %>
            <div class="card-body">
                <h4 class="card-title feature-card-title">Newbie Level</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
            </div>
        </div>
    </div>

    <div class="col mb-4">
        <div class="card text-center">
            <%= image_tag 'user-interface.svg', class: "img-circle feature-img-responsive mt-2", alt: "Feature Image 2" %>
            <div class="card-body">
                <h4 class="card-title feature-card-title">Expert Level</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
            </div>
        </div>
    </div>

    <div class="col mb-4">
        <div class="card text-center">
            <%= image_tag 'mission.svg', class: "img-circle feature-img-responsive mt-2", alt: "Feature Image 3" %>
            <div class="card-body">
                <h4 class="card-title feature-card-title">Hero Level</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
            </div>
        </div>
    </div>
</div>
<br>

<div class="row justify-content-center mt-4">
    <div class="col-md-6 text-center">
        <h2 class="text-title">Próximamente - <strong>Newbie Level</strong></h2>
        <div class="card-body-lunch text-center" id="timer">
            <div class="time-card">
                <span class="time-count" id="days"></span>
                <span class="time-label">Days</span>
            </div>
            <div class="time-card">
                <span class="time-count" id="hours"></span>
                <span class="time-label">Hours</span>
            </div>
            <div class="time-card">
                <span class="time-count" id="minutes"></span>
                <span class="time-label">Minutes</span>
            </div>
            <div class="time-card">
                <span class="time-count" id="seconds"></span>
                <span class="time-label">Seconds</span>
            </div>
        </div>
    </div>
</div>
<br>
<hr/>
<br>
<%= render 'shared/footer' %>


<script>

    var endDate = new Date().getTime() + 3110400000;

    var x = setInterval(function() {

        var now =  new Date().getTime();

        var timeRemaining = endDate - now;

        var daysRemaining = Math.floor(timeRemaining / (1000 * 60 * 60 * 24));
        var hoursRemaining = Math.floor((timeRemaining % (1000 * 60 * 60 * 24))/(1000 * 60 * 60));
        var minutesRemaining = Math.floor((timeRemaining % (1000 * 60 * 60)) / (1000 * 60));
        var secondsRemaining = Math.floor((timeRemaining % (1000 * 60)) / (1000));

        document.getElementById("days").innerHTML = daysRemaining;
        document.getElementById("hours").innerHTML = hoursRemaining;
        document.getElementById("minutes").innerHTML = minutesRemaining;
        document.getElementById("seconds").innerHTML = secondsRemaining; 

        if (timeRemaining < 0) { 
            clearInterval(x);
            document.getElementById("days").innerHTML ='0'; 
            document.getElementById("hours").innerHTML ='0'; 
            document.getElementById("minutes").innerHTML ='0' ; 
            document.getElementById("seconds").innerHTML = '0';
            alert("Thank you for your patience");
        }

    },1000);
	
</script>