<!-- Jumbotron Header -->
<header class="jumbotron my-4 text-center">
    <h2 class="jumbotron-title">Bienvenido a <strong>HiGoLearn</strong></h2>
    <span>
        <p>
            Aprenda a codificar desde básico hasta crear <strong>Startups</strong><br>
            de la vida real. Con <strong>Python</strong>, <strong>Django</strong>, <strong>Ruby</strong>, <strong>Rails</strong>, <strong>JavaScript</strong> y mucho más.
        </p>
    </span>
    <%= image_tag 'monitor.svg', class: "img-responsive", alt: "Jumbotron Image" %> <br>
    <%= link_to 'Start Project', project_index_path, class: "btn btn-form" %>
</header>

<div class="row mt-4">
    <div class="col text-center">
        <h2 class="text-tile">Características Asombrosas</h2>
    </div>
</div>
<br/>

<div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-4">
        <div class="card text-center">
            <%= image_tag 'question.svg', class: "img-circle feature-img-responsive mt-2", alt: "Feature Image 1" %>
            <div class="card-body">
                <h4 class="card-title feature-card-title">Newbie Level</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
            </div>
        </div>
    </div>

    <div class="col mb-4">
        <div class="card text-center">
            <%= image_tag 'user-interface.svg', class: "img-circle feature-img-responsive mt-2", alt: "Feature Image 2" %>
            <div class="card-body">
                <h4 class="card-title feature-card-title">Expert Level</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
            </div>
        </div>
    </div>

    <div class="col mb-4">
        <div class="card text-center">
            <%= image_tag 'mission.svg', class: "img-circle feature-img-responsive mt-2", alt: "Feature Image 3" %>
            <div class="card-body">
                <h4 class="card-title feature-card-title">Hero Level</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
            </div>
        </div>
    </div>
</div>
<hr/>
<br>
<%= render 'shared/footer' %>