<!-- Jumbotron Header -->
<header class="jumbotron my-4 text-center">
    <h2 class="jumbotron-title">Bienvenido a <strong>HiGoLearn</strong></h2>
    <h6>
        Construya Paginas Web, Aplicaciones y Video Juegos desde lo básico hasta crear <strong>Startups</strong><br>
        de la vida real. Con <strong>Python</strong>, <strong>Django</strong>, <strong>Ruby</strong>, <strong>Rails</strong>, <strong>JavaScript</strong> y mucho más.
    </h6>
    <%= image_tag 'monitor.png', class: "img-responsive", alt: "Jumbotron Image" %> <br>
    <%#= link_to 'Iniciar Aprender', project_index_path, class: "btn btn-form" %>
</header>

<div class="row mt-4">
    <div class="col text-center">
        <h2 class="text-tile">Características Asombrosas</h2>
    </div>
</div>
<br/>

<div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-4">
        <div class="card text-center">
            <%= image_tag 'question.svg', class: "img-circle feature-img-responsive mt-2", alt: "Feature Image 1" %>
            <div class="card-body">
                <h4 class="card-title feature-card-title">Newbie Level</h4>
                <p class="card-text">Usted aprendera los conceptos esenciales para dominar el arte de la programación.</p>
            </div>
        </div>
    </div>

    <div class="col mb-4">
        <div class="card text-center">
            <%= image_tag 'user-interface.svg', class: "img-circle feature-img-responsive mt-2", alt: "Feature Image 2" %>
            <div class="card-body">
                <h4 class="card-title feature-card-title">Expert Level</h4>
                <p class="card-text">Aprenderas programación orientada a objetos y metodología de diseño de Software con proyectos reales. </p>
            </div>
        </div>
    </div>

    <div class="col mb-4">
        <div class="card text-center">
            <%= image_tag 'mission.svg', class: "img-circle feature-img-responsive mt-2", alt: "Feature Image 3" %>
            <div class="card-body">
                <h4 class="card-title feature-card-title">Hero Level</h4>
                <p class="card-text">En este proyecto, los guiaré paso a paso para desarrollar aplicaciones reales como <Strong>UberEats</Strong> y <strong>Fiverr</strong> desde cero.</p>
            </div>
        </div>
    </div>
</div>
<br>

<div class="row justify-content-center mt-4">
    <div class="col-md-6 text-center">
        <h2 class="text-title">Próximamente - <strong>Newbie Level</strong></h2>
        <div class="card-body-lunch text-center" id="timer">
            <div class="time-card">
                <span class="time-count" id="days"></span>
                <span class="time-label">Days</span>
            </div>
            <div class="time-card">
                <span class="time-count" id="hours"></span>
                <span class="time-label">Hours</span>
            </div>
            <div class="time-card">
                <span class="time-count" id="minutes"></span>
                <span class="time-label">Minutes</span>
            </div>
            <div class="time-card">
                <span class="time-count" id="seconds"></span>
                <span class="time-label">Seconds</span>
            </div>
        </div>
    </div>
</div>
<br>
<hr/>
<br>
<%= render 'shared/footer' %>


<script>

    const second = 1000,
      minute = second * 60,
      hour = minute * 60,
      day = hour * 24;

    let countDown = new Date('Nov 30, 2020 00:00:00').getTime(),
    x = setInterval(function() {    

        let now = new Date().getTime(),
            distance = countDown - now;

        document.getElementById('days').innerText = Math.floor(distance / (day)),
        document.getElementById('hours').innerText = Math.floor((distance % (day)) / (hour)),
        document.getElementById('minutes').innerText = Math.floor((distance % (hour)) / (minute)),
        document.getElementById('seconds').innerText = Math.floor((distance % (minute)) / second);

    }, second)
	
</script>