<!-- Jumbotron Header -->
<div class="jumbotron">
    <div class="container text-center text-lg-left">
    
        <div class="row">
            <div class="col-lg-8">
            <h1 class="display-4">
                Aprende a <span class="highlight-word">programar</span> en su máxima expresión.
            </h1>
            <p class="lead">
                Construya Paginas Web, Aplicaciones y Video Juegos desde lo básico hasta crear Startups
                de la vida real. Con Python, Django, Ruby, Rails, JavaScript y mucho más.
            </p>
            
        </div>
        <div class="col-lg-4 align-items-center d-flex">
            
            <%= image_tag 'header.png', class: "img-fluid", alt:"header image - https://www.dlf.pt" %>
        </div>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col text-center">
        <h2 class="text-tile">Características Asombrosas</h2>
    </div>
</div>
<br/>

<div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-4">
        <div class="card text-center">
            <%= image_tag 'question.svg', class: "img-circle feature-img-responsive mt-2", alt: "Feature Image 1" %>
            <div class="card-body">
                <h4 class="card-title feature-card-title">Newbie Level</h4>
                <p class="lead">Aprende los conceptos esenciales para dominar el arte de la programación creando pequeños proyectos.</p>
            </div>
        </div>
    </div>

    <div class="col mb-4">
        <div class="card text-center">
            <%= image_tag 'user-interface.svg', class: "img-circle feature-img-responsive mt-2", alt: "Feature Image 2" %>
            <div class="card-body">
                <h4 class="card-title feature-card-title">Expert Level</h4>
                <p class="lead">Aprenderas programación orientada a objetos y metodología de diseño de Software con proyectos reales. </p>
            </div>
        </div>
    </div>

    <div class="col mb-4">
        <div class="card text-center">
            <%= image_tag 'mission.svg', class: "img-circle feature-img-responsive mt-2", alt: "Feature Image 3" %>
            <div class="card-body">
                <h4 class="card-title feature-card-title">Hero Level</h4>
                <p class="lead">En este proyecto, los guiaré paso a paso para desarrollar aplicaciones reales como <Strong>UberEats</Strong> y <strong>Fiverr</strong> desde cero.</p>
            </div>
        </div>
    </div>
</div>
<br>

<div class="row justify-content-center mt-4">
    <div class="col-md-6 text-center">
        <h2 class="text-title">Próximamente - <strong>Newbie Level</strong></h2>
        <div class="card-body-lunch text-center" id="timer">
            <div class="time-card">
                <span class="time-count" id="days"></span>
                <span class="time-label">Days</span>
            </div>
            <div class="time-card">
                <span class="time-count" id="hours"></span>
                <span class="time-label">Hours</span>
            </div>
            <div class="time-card">
                <span class="time-count" id="minutes"></span>
                <span class="time-label">Minutes</span>
            </div>
            <div class="time-card">
                <span class="time-count" id="seconds"></span>
                <span class="time-label">Seconds</span>
            </div>
        </div>
    </div>
</div>
<br>
<hr/>
<br>
<%= render 'shared/footer' %>


<script>

    const second = 1000,
      minute = second * 60,
      hour = minute * 60,
      day = hour * 24;

    let countDown = new Date('Feb 15, 2021 00:00:00').getTime(),
    x = setInterval(function() {    

        let now = new Date().getTime(),
            distance = countDown - now;

        document.getElementById('days').innerText = Math.floor(distance / (day)),
        document.getElementById('hours').innerText = Math.floor((distance % (day)) / (hour)),
        document.getElementById('minutes').innerText = Math.floor((distance % (hour)) / (minute)),
        document.getElementById('seconds').innerText = Math.floor((distance % (minute)) / second);

    }, second)
	
</script>