<div class="row">
    <div class="col-lg-12 text-center">
        <%= content_tag :h3, @project.name, class: "text-title" %>
        <img class="rounded-circle avatar-large" src="https://coderealprojects.com/assets/leotrieu-f7211023c164aff27c0f6590e6b4c32a.jpg" alt="JesusAlmirco" />
        <p>Jesus Almirco</p>
    </div>
</div>
<br>

<!-- PROJECT DETAIL -->
<div class="row">
    <!-- LEFT CARD -->
    <div class="col-md-3">
        
        <div class="card mb-4 shadow-sm">
            <% if !@joined %>
                <div class="card-header text-center">
                    <%= content_tag :h1, @project.price == 0? "Free" : "$ #{@project.price}", class: "my-0 font-weight-normal" %>
                </div>
                <div class="card-body text-center">
                    
                    <h6 class="card-text"><i class="far fa-file-code"></i> Full Source Code</h6>
                    <h6 class="card-text"><i class="far fa-comments"></i> Discussion Support</h6>
                    <br>
                    <% if user_signed_in? %>
                        <%= form_tag free_path do %>
                            <%= hidden_field_tag 'project_id', @project.id %>
                            <button type="submit" class="btn btn-form">Start Project</button>
                        <% end %>
                    <% else %>
                        <%= link_to new_user_session_path do  %>
                            <button type="submit" class="btn btn-form">Start Project</button>
                        <% end %>
                    <% end %>

                </div>
            <% else %>
                <div class="card-body text-center">
                    <%= image_tag "desk.svg", class: "img-circle avatar-medium" %> <hr>
                    <span>
                        Welcome to this Project 
                    </span>
                    <%= content_tag :h5, truncate(current_user.fullname, :length => 17, :separator => ' ') %> <br>
                    <%= image_tag "party.svg", class: "img-circle avatar-medium" %>
                </div>
            <% end %>
        </div>
    </div>
    <!-- /LEFT CARD -->

    <!-- RIGHT CARD -->
    
    <div class="col-md-9">
        <div class="card">
            <div class="card-body" data-turbolinks="false">
                <% @tasks.each do |task| %>
                
                    <% if task.header %>
                        <!--TASK HEADER-->
                        <h5 class="card-title"><i class="fas fa-graduation-cap"></i> <%= task.title %></h5>
                        <p></p>
                        <!--/TASK HEADER-->
                    <% else %>
                        <!--TASK ITEMS-->
                        <ul class="list-group-flush">
                            
                            <%= link_to [task.project, task], class: "list-group-item", style: "color: #00A699 !important;" do %>
                                <span><i class="fas fa-lock"></i> <%= task.title %></span>
                                <span class="float-right">
                                    2:08 &nbsp;
                                    <i class="fa fa-check-circle fa-lg" aria-hidden="true"></i>
                                </span>
                            <% end %>
                        </ul>
                        <!--/TASK ITEMS-->
                    <% end %>
                
                <% end %>
            </div>
        </div>
    </div>
    
    <!-- /RIGHT CARD -->
</div>
<!-- /PROJECT DETAIL -->