<% content_for :head  do %>
    <title><%= @project.name %> | HiGoLearn</title>
    <meta name="author" content="Jesus Almirco">
    <!--Twitter Card Data-->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@HiGoLearn">
    <meta name="twitter:creator" content="@HiGoLearn">
    <meta name="twitter:title" content="<%= @project.name %>">
    <meta name="twitter:description" content="<%= @project.content %>">
    <meta name="twitter:image:src" content="<%= image_tag 'data.png' %>">
    <!--Open Graph Data-->
    <meta property="og:site_name" content="HiGoLearn">
    <meta property="og:type" content="website">
    <meta property="og:title" content="<%= @project.name %>">
    <meta property="og:description" content="<%= @project.content %>">
    <meta property="og:image" content="<%= image_tag 'data.png' %>">
<% end %>
<div class="row mt-5">
    <div class="col-lg-12 text-center">
        <%= content_tag :h3, @project.name, class: "text-title" %>
        <img class="rounded-circle avatar-large" src="https://coderealprojects.com/assets/leotrieu-f7211023c164aff27c0f6590e6b4c32a.jpg" alt="JesusAlmirco" />
        <p>Jesus Almirco</p>
    </div>
</div>
<br>

<!-- PROJECT DETAIL -->
<div class="row">
    <!-- LEFT CARD -->
    <div class="col-md-3" data-turbolinks="false">
        
        <div class="card mb-4 shadow-sm">
            <% if !@joined %>
                <div class="card-header text-center">
                    <%= content_tag :h1, @project.price == 0? "Free" : "$ #{@project.price}", class: "my-0 font-weight-normal" %>
                </div>
                <div class="card-body text-center">
                    
                    <h6 class="card-text"><i class="far fa-file-code"></i> Código Fuente</h6>
                    <h6 class="card-text"><i class="far fa-comments"></i> Discusión</h6>
                    <h6 class="card-text"><i class="far fa-hourglass"></i> Acceso de por Vida</h6>
                    <br>
                    <!--subscription form-->
                    <% if user_signed_in? %>
                        <% if @project.price == 0 %>
                            <%= form_tag free_path do %>
                                <%= hidden_field_tag 'project_id', @project.id %>
                                <button type="submit" class="btn btn-form">Iniciar Proyecto</button>
                            <% end %>
                        <% else %>
                            
                            <%= form_tag pay_path do %>
                                <article>
                                    <% if flash[:error].present? %>
                                        <div id="error_explanation">
                                            <p><%= flash[:error] %></p>
                                        </div>
                                    <% end %>
                                </article>
                                <%= hidden_field_tag 'project_id', @project.id %>

                                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                                    data-name="HiGoLearn"
                                    data-description="<%= @project.name %>"
                                    data-email="<%= current_user.email %>"
                                    data-amount="<%= @project.price_in_cents %>"
                                    data-locale="auto">
                                </script>
                            <% end %>
                        <% end %>
                    <% else %>
                        <%= link_to new_user_session_path do  %>
                            <button type="submit" class="btn btn-form">Iniciar Proyecto</button>
                        <% end %>
                    <% end %>

                </div>
            <% else %>
                <div class="card-body text-center">
                    <%= image_tag avatar_url(current_user), class: "img-circle avatar-medium" %><hr>
                    <span>
                        Welcome to this Project 
                    </span>
                    <%= content_tag :h5, truncate(current_user.fullname, :length => 17, :separator => ' ') %> <br>
                    <%= image_tag "party.svg", class: "img-circle avatar-medium" %> <br> <br>
                    <div id="average_rating"></div> 
                    <span> ( <%= @reviews.count %> <%= @reviews.count > 1? "Reviews" : "Review" %> )</span> <br><br>
                    <!--Review Modal-->
                    <%= render 'reviews/index' %>

                </div>
            <% end %>
        </div>
    </div>
    <!-- /LEFT CARD -->

    <!-- RIGHT CARD -->
    
    <div class="col-md-9">
        <div class="card">
            <div class="card-body">
                <ul class="nav nav-tabs justify-content-center" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active h-5" data-toggle="tab" href="#about" role="tab"><i class="fas fa-comment-dots"></i> VISIÓN </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link h-5" data-toggle="tab" href="#learn_path" role="tab"><i class="fas fa-road"></i> CONTENIDO </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link h-5" data-toggle="tab" href="#discussion" role="tab"> COMENTARIOS <i class="fas fa-star"></i></a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div id="about" class="tab-pane active" data-turbolinks="false" role="tabpanel">
                        <p class="text-left p-4">
                            <%=  markdown(@project.content) %>
                        </p>
                    </div>

                    <div id="learn_path" class="tab-pane p-4" data-turbolinks="false" role="tabpanel">
                        <% @tasks.each do |task| %>
                
                            <% if task.header %>
                                <!--TASK HEADER-->
                                <h5 class="card-title mt-4"><i class="fas fa-graduation-cap"></i>&nbsp; <%= task.title %></h5>
                                <!--/TASK HEADER-->
                            <% else %>
                                <!--TASK ITEMS-->
                                <ul class="list-group list-group-flush">
                                    <%= link_to [task.project, task], class: "list-group-item task-item" do %>  <!--  --->
                                        <% if !@joined %>
                                            <span><i class="fas fa-lock"></i>&nbsp; <%= task.title %></span> 
                                        <% else %>
                                            <%= task.title %></span> 
                                        <% end %>
                                    <% end %>
                                </ul>
                                <!--/TASK ITEMS-->
                            <% end %>
                        
                        <% end %>
                    </div>
                    <div id="discussion" class="tab-pane" data-turbolinks="false" role="tabpanel">
                        <div class="mt-4 p-4">
                            <%= render 'reviews/show' %>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    
    <!-- /RIGHT CARD -->
</div>
<!-- /PROJECT DETAIL -->

<!--Raty script-->
<script>
    $('#average_rating').raty({
        path: '/assets/raty-js/lib/images',
        readOnly: true,
        score: <%= @project.average_rating %>
    });
</script>