<!--BUTTON MODAL OPEN -->
<button type="button" class="btn btn-form" data-toggle="modal" data-target="#myModal">
    Add Review
</button>

<!-- review modal -->
<div class="modal fade" tabindex="-1"  role="dialog" id="myModal" aria-labelledby="myModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Reviews For This Project</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                <%#= render 'reviews/form' %>
                <%# if @joined && !@hasReview %>
                    <%= form_for([@project, @review]) do |f| %>
                        <div class="form-group text-center">
                            <div id="stars"></div>
                        </div>
                        <div class="form-group">
                            <%= f.text_area :comment, class: "form-control", placeholder: "Your comment here ....", rows: "4" %>
                        </div>
                        <%= f.hidden_field :project_id, :value => @project.id %>
                        <%= f.hidden_field :user_id, :value => current_user.id %>
                        <div class="text-center">
                            <%= f.submit "Publish Review", class: "btn btn-form" %>
                        </div>
                    <% end %>
                <%# end %>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-normal" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script>
    $('#stars').raty({
        path: '/assets/raty-js/lib/images',
        scoreName: 'review[star]',
        score: 1
    });
</script>