<% if @reviews.blank? %>
    <span class="text-center">There is no review yet</span>
<% end %>

<% @reviews.order(id: :desc).each do |r| %>
    <div class="row">
        <div class="col-md-3 text-center">
            <br>
            <br>
            <%= image_tag avatar_url(r.user), class: "img-circle avatar-medium" %>
            <br>
            
        </div>
        <div class="col-md-9">
            <strong><%= r.user.fullname %></strong>
            <div id="star_<%= r.id %>"></div>

            <% if current_user && current_user.id == r.user.id %>
                <div class="float-right">
                    <%= link_to [@project, r], method: :delete, data: {confirm: "Are you sure?"}  do  %>
                        <i class="fas fa-trash-alt"></i>
                    <% end %>
                </div>
            <% end %>
            <div  class="text-left">
                <p><%= r.comment %></p>
            </div>
            <div>
                <h6 class="float-right">
                    <small class="text-muted">
                        Review <strong><%= time_ago_in_words(r.created_at) %></strong> ago. 
                    </small>
                </h6> 
            </div>
        </div>
    </div>

    <script>
        $('#star_<%= r.id %>').raty({
            path: '/assets/raty-js/lib/images',
            readOnly: true,
            score: <%= r.star %>
        });
    </script>
<% end %>