<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Aprende Python 3, Django 3, Ruby, Rails 6, JavaScript desde Cero a Experto con proyectos reales.</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= stylesheet_pack_tag 'src/application', media: 'all' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Add Google Font  -->
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.14.0/css/all.css">
    <!-- Global Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-177081278-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-177081278-1');
    </script>
    <!-- Google Tag Manager -->
    <script>
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-58P6R8W');
    </script>
    <meta name="description" content="Aprenda a crear Paginas Web, Aplicaciones y Video Juegos desde lo básico hasta crear Startups de la vida real y ... más"/>
    <meta name="keywords" content="Python, Python 3, Django 3, Ruby, Ruby on Rails 6, JavaScript, Rails, Rails 6, PostgreSQL"/>
    <!-- End Google Tag Manager -->
    <!--Social media column-->
    <%= yield :head %>
    <!--Social media column end/-->
  </head>

  <body>
    <!-- Google Tag Manager (noscript) 
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-58P6R8W" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    -->
    <!-- End Google Tag Manager (noscript) -->
    <div class="container">
      <div class="row">
        <div class="col-12 pt-3 pb-3 mb4">
          <!--navbar-->
          <%= render 'shared/navbar' %>
          <!--notification-->
          <%= render 'shared/message' %>

          <%= yield %>

        </div>
      </div>
    </div>

    <!-- Begin of Chaport Live Chat code -->
    <script type="text/javascript">
      (function(w,d,v3){
      w.chaportConfig = {
        appId : '5f4f0f5d1235f920c4e06b44'
      };

      if(w.chaport)return;v3=w.chaport={};v3._q=[];v3._l={};v3.q=function(){v3._q.push(arguments)};v3.on=function(e,fn){if(!v3._l[e])v3._l[e]=[];v3._l[e].push(fn)};var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://app.chaport.com/javascripts/insert.js';var ss=d.getElementsByTagName('script')[0];ss.parentNode.insertBefore(s,ss)})(window, document);
    </script>
    <!-- End of Chaport Live Chat code -->
    <!--social media manage-->
    <script async>(function(s,u,m,o,j,v){j=u.createElement(m);v=u.getElementsByTagName(m)[0];j.async=1;j.src=o;j.dataset.sumoSiteId='c43b1ae9bc39cf72bf47c38cc50fb57717c5ec9675e19c0a14a33c692eafbe56';v.parentNode.insertBefore(j,v)})(window,document,'script','//load.sumo.com/');</script>
  </body>
</html>  
